
<h1>Planets#index</h1>
<%= link_to "login", new_user_session_path %>


  <div class="cards">

    <%@planets.each do |planet|%>
      <div class="card-category">
        <% if planet.photo.attached? %>
          <div class="img-card">
            <%= cl_image_tag planet.photo.key, crop: :fit, class:"img-planet" %>
          </div>
        <% end %>
        <div class="card-text">
          <h3><%=link_to "Planète #{planet.name}", planet_path(planet), class:"title-planet"%></h3>
          <h4><%= "Prix :#{planet.price}$/ Nuit"%></h4>
        </div>
      </div>
    <%end%>
  </div>
