<h1>Planets#index</h1>

<ul>
  <%@planets.each do |planet|%>
    <li><%=link_to planet.name, planet_path(planet)%></li>
  <%end%>
</ul>

<p><%= link_to "Add a new planet location", new_planet_path %></p>



<%= link_to "login", new_user_session_path %>
