.navbar {
  justify-content: space-between;
  height: 70px;
  .logo_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;

  }
  .logo_title a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.5rem;
  }
}
.end-navbar {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5% ;
}
.dropdown-navbar{
  right: 0 !important;
}
