.navbar {
  justify-content: space-between;
  height: 70px;
  .logo_title {
    display: flex;
    align-items: center;
    width: 30%;
    padding-left: 5%;
  }
  .title-main{
    text-decoration: none;
    color: whitesmoke;
    font-size: 80%;
  }
}
.new-planet {
  text-decoration:none ;
  color: white;
}
.new-planet:hover {
  opacity: 0.5;
}
.end-navbar {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5% ;
}
.drop-avatar{
border: solid 2px white;
display: flex;
justify-content: space-around;
border-radius: 50px;
padding: 2%;
}
.dropdown-navbar{
  right: 0 !important;
}
.rocket{
  width: 20%;
}
